Repository njbrake/porchsongs: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-types, typecheck, eslint, frontend-tests, backend-tests

openapi-types:
  name: openapi types freshness
  language: system
  entry: sh -c 'uv run python scripts/export_openapi.py frontend/openapi.json && cd frontend && npm run generate:api && git diff --exit-code frontend/src/generated/api.d.ts'
  pass_filenames: false

typecheck:
  name: typescript typecheck
  language: system
  entry: sh -c 'cd frontend && npm run typecheck'
  pass_filenames: false

eslint:
  name: eslint
  language: system
  entry: sh -c 'cd frontend && npx eslint src/'
  pass_filenames: false

frontend-tests:
  name: frontend tests
  language: system
  entry: sh -c 'cd frontend && npx vitest run'
  pass_filenames: false
  stages:
  - pre-push

backend-tests:
  name: backend tests
  language: system
  entry: sh -c 'DATABASE_URL="sqlite:///:memory:" uv run pytest -x -q'
  pass_filenames: false
  stages:
  - pre-push

feat: remove multi-user auth from OSS (#27)
  AGENTS.md
  backend/app/auth/app_secret.py
  backend/app/auth/base.py
  backend/app/auth/dependencies.py
  backend/app/auth/loader.py
  backend/app/config.py
  backend/app/routers/auth.py
  backend/app/schemas.py
  e2e/fixtures/auth-helpers.ts
  e2e/premium/account.spec.ts
  e2e/premium/auth.spec.ts
  e2e/premium/quota.spec.ts
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/LoginPage.test.tsx
  frontend/src/components/LoginPage.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/extensions/api.ts
  frontend/src/extensions/index.ts
  frontend/src/extensions/routes.tsx
  frontend/src/generated/api.d.ts
  frontend/src/types.ts
  playwright.config.ts
  tests/test_auth.py
  tests/test_rate_limit.py
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

fix: return generic error to frontend on LLM failures
  backend/app/routers/rewrite.py
  tests/test_llm_endpoints.py
Due: openapi-types, backend-tests

fix: return generic error to frontend on LLM failures (#28)
  backend/app/routers/rewrite.py
  tests/test_llm_endpoints.py
Due: openapi-types, backend-tests

feat: add terms_accepted_at field to User model
  backend/app/models.py
Due: backend-tests

feat: add terms_accepted_at field to User model (#29)
  backend/app/models.py
Due: backend-tests

feat: add quota extension hooks for premium quota UI
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/extensions/index.ts
  frontend/src/extensions/quota.tsx
Due: typecheck, eslint, frontend-tests

feat: add quota extension hooks for premium quota UI (#30)
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/extensions/index.ts
  frontend/src/extensions/quota.tsx
Due: typecheck, eslint, frontend-tests

feat: add OnboardingBanner extension hook for first-run experience
  frontend/src/components/RewriteTab.tsx
  frontend/src/extensions/index.ts
  frontend/src/extensions/quota.tsx
Due: typecheck, eslint, frontend-tests

feat: add OnboardingBanner extension hook for first-run experience (#31)
  frontend/src/components/RewriteTab.tsx
  frontend/src/extensions/index.ts
  frontend/src/extensions/quota.tsx
Due: typecheck, eslint, frontend-tests

feat: library UX improvements — pagination, folders, previews, empty state
  backend/app/routers/songs.py
  backend/app/schemas.py
  frontend/src/api.ts
  frontend/src/components/LibraryTab.test.ts
  frontend/src/components/LibraryTab.tsx
  frontend/src/generated/api.d.ts
  tests/test_api.py
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

fix: update e2e test for new library empty state message
  e2e/oss/library.spec.ts
Due: none

feat: library UX — pagination, folder management, previews, empty state (#32)
  backend/app/routers/songs.py
  backend/app/schemas.py
  e2e/oss/library.spec.ts
  frontend/src/api.ts
  frontend/src/components/LibraryTab.test.ts
  frontend/src/components/LibraryTab.tsx
  frontend/src/generated/api.d.ts
  tests/test_api.py
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

test: add e2e test for auto-save after parse appears in library
  e2e/oss/song-lifecycle.spec.ts
Due: none

test: add e2e test for auto-save after parse appears in library (#56)
  e2e/oss/song-lifecycle.spec.ts
Due: none

test: add e2e test for Edit in Rewrite round-trip
  e2e/oss/library.spec.ts
Due: none

test: add e2e test for Edit in Rewrite round-trip (#57)
  e2e/oss/library.spec.ts
Due: none

test: add e2e test for chat editing with lyrics update
  e2e/oss/song-lifecycle.spec.ts
Due: none

test: add e2e test for chat editing with lyrics update (#58)
  e2e/oss/song-lifecycle.spec.ts
Due: none

test: add e2e test for chat history persistence on reopen
  e2e/fixtures/test-helpers.ts
  e2e/oss/song-lifecycle.spec.ts
Due: none

test: add e2e test for chat history persistence on reopen (#59)
  e2e/fixtures/test-helpers.ts
  e2e/oss/song-lifecycle.spec.ts
Due: none

test: add e2e tests for song rename (inline and menu dialog)
  e2e/oss/library.spec.ts
Due: none

test: add e2e tests for song rename (inline and menu dialog) (#60)
  e2e/oss/library.spec.ts
Due: none

test: add e2e test for song deletion from library
  e2e/oss/library.spec.ts
Due: none

test: add e2e test for song deletion from library (#61)
  e2e/oss/library.spec.ts
Due: none

test: add e2e test for folder management and filtering
  e2e/oss/library.spec.ts
Due: none

test: add e2e test for folder management and filtering (#62)
  e2e/oss/library.spec.ts
Due: none

test: add e2e tests for system prompt editing and model selection
  e2e/oss/settings.spec.ts
Due: none

test: add e2e tests for system prompt editing and model selection (#63)
  e2e/oss/settings.spec.ts
Due: none

test: add e2e tests for PDF download, revision history, and sorting
  e2e/oss/library.spec.ts
Due: none

test: add e2e tests for PDF download, revision history, and sorting (#64)
  e2e/oss/library.spec.ts
Due: none

feat: add per-route error boundaries with Try Again reset
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ErrorBoundary.tsx
Due: typecheck, eslint, frontend-tests

feat: add per-route error boundaries with Try Again reset (#65)
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ErrorBoundary.tsx
Due: typecheck, eslint, frontend-tests

fix: health check verifies database connectivity before returning ok
  backend/app/main.py
  tests/test_api.py
Due: openapi-types, backend-tests

fix: health check verifies database connectivity before returning ok (#66)
  backend/app/main.py
  tests/test_api.py
Due: openapi-types, backend-tests

feat: add input size validation on content fields
  backend/app/schemas.py
  tests/test_api.py
Due: openapi-types, backend-tests

feat: add input size validation on content fields (#67)
  backend/app/schemas.py
  tests/test_api.py
Due: openapi-types, backend-tests

fix: replace silent error swallowing with logging and user feedback
  frontend/src/contexts/AuthContext.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

fix: replace silent error swallowing with logging and user feedback (#68)
  frontend/src/contexts/AuthContext.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

fix: cache index.html at startup instead of reading per request
  backend/app/main.py
Due: openapi-types, backend-tests

fix: cache index.html at startup instead of reading per request (#69)
  backend/app/main.py
Due: openapi-types, backend-tests

Path conditions:
  openapi-types: any of: ^backend/app/(schemas\.py|routers/.+\.py|main\.py)$
  typecheck: any of: ^frontend/src/.*\.tsx?$
  eslint: any of: ^frontend/src/.*\.tsx?$
  frontend-tests: any of: ^frontend/src/.*\.tsx?$
  backend-tests: any of: ^(backend|tests)/.*\.py$
