Repository njbrake/porchsongs: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-types, typecheck, eslint, frontend-tests, backend-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: openapi-types
        name: openapi types freshness
        language: system
        entry: sh -c 'uv run python scripts/export_openapi.py frontend/openapi.json && cd frontend && npm run generate:api && git diff --exit-code frontend/src/generated/api.d.ts'
        pass_filenames: false
        files: ^backend/app/(schemas\.py|routers/.+\.py|main\.py)$

      - id: typecheck
        name: typescript typecheck
        language: system
        entry: sh -c 'cd frontend && npm run typecheck'
        pass_filenames: false
        files: ^frontend/src/.*\.tsx?$

      - id: eslint
        name: eslint
        language: system
        entry: sh -c 'cd frontend && npx eslint src/'
        pass_filenames: false
        files: ^frontend/src/.*\.tsx?$

      - id: frontend-tests
        name: frontend tests
        language: system
        entry: sh -c 'cd frontend && npx vitest run'
        pass_filenames: false
        files: ^frontend/src/.*\.tsx?$
        stages: [pre-push]

      - id: backend-tests
        name: backend tests
        language: system
        entry: sh -c 'DATABASE_URL="sqlite:///:memory:" uv run pytest -x -q'
        pass_filenames: false
        files: ^(backend|tests)/.*\.py$
        stages: [pre-push]

fix: remove all em dashes from codebase
  AGENTS.md
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/Header.tsx
  frontend/src/components/LibraryTab.folder.test.tsx
  frontend/src/components/LibraryTab.tsx
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/components/ui/resizable-columns.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/extensions/api.ts
  frontend/src/extensions/quota.tsx
  frontend/src/extensions/routes.tsx
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
  frontend/src/lib/streamParser.ts
  frontend/src/types.ts
Due: typecheck, eslint, frontend-tests

fix: remove all em dashes from codebase (#133)
  AGENTS.md
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/Header.tsx
  frontend/src/components/LibraryTab.folder.test.tsx
  frontend/src/components/LibraryTab.tsx
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/components/ui/resizable-columns.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/extensions/api.ts
  frontend/src/extensions/quota.tsx
  frontend/src/extensions/routes.tsx
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
  frontend/src/lib/streamParser.ts
  frontend/src/types.ts
Due: typecheck, eslint, frontend-tests

feat: add magic_link_enabled and github_oauth_enabled to AuthConfig type
  frontend/src/types.ts
Due: typecheck, eslint, frontend-tests

fix: improve parse page layout on mobile devices
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

docs: add instructions for fixing broken worktrees in sandbox
  AGENTS.md
Due: none

docs: inline tips/ files into AGENTS.md and remove tips directory
  AGENTS.md
  tips/definition-of-done.md
  tips/playwright.md
  tips/sandbox.md
Due: none

docs: add worktree sandbox fix instructions (#135)
  AGENTS.md
  tips/definition-of-done.md
  tips/playwright.md
  tips/sandbox.md
Due: none

fix: scope e2e test locator to desktop toolbar for title/artist
  e2e/oss/rewrite-flow.spec.ts
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

fix: compact mobile footer and make OnboardingBanner a wrapper
  frontend/src/components/RewriteTab.tsx
  frontend/src/extensions/quota.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

fix: improve parse page layout on mobile devices (#134)
  e2e/oss/rewrite-flow.spec.ts
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/extensions/quota.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

feat: add "Report issue" link to app footer
  frontend/src/extensions/index.ts
  frontend/src/extensions/routes.tsx
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

feat: add links to deployed porchsongs.ai site
  README.md
  pyproject.toml
Due: none

feat: add links to deployed porchsongs.ai site (#138)
  README.md
  pyproject.toml
Due: none

fix: address Lighthouse accessibility, performance, and best-practices issues (#140)
  backend/app/main.py
  frontend/index.html
  frontend/src/components/RewriteTab.tsx
  frontend/src/index.css
  frontend/vite.config.ts
  tests/test_api.py
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

fix: check server for existing songs to determine first-time user status
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

chore: remove stale budget_tokens comments from llm_service
  backend/app/services/llm_service.py
Due: backend-tests

chore: remove stale budget_tokens comments from llm_service (#153)
  backend/app/services/llm_service.py
Due: backend-tests

feat: switch from SQLite to PostgreSQL for all testing
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  backend/app/database.py
  e2e/scripts/start-server.sh
  playwright.config.ts
  tests/conftest.py
Due: backend-tests

fix: reconcile refresh_tokens unique index with column constraint
  alembic/versions/003_fix_refresh_token_index.py
Due: none

feat: switch from SQLite to PostgreSQL for all testing (#155)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  alembic/versions/003_fix_refresh_token_index.py
  backend/app/database.py
  e2e/scripts/start-server.sh
  playwright.config.ts
  tests/conftest.py
Due: backend-tests

fix: remove redundant CTA section from homepage
  frontend/src/pages/marketing/HomePage.tsx
Due: typecheck, eslint, frontend-tests

fix: remove redundant CTA section from homepage (#156)
  frontend/src/pages/marketing/HomePage.tsx
Due: typecheck, eslint, frontend-tests

feat: add open_signup field to AuthConfig type (#157)
  frontend/src/types.ts
Due: typecheck, eslint, frontend-tests

fix: improve mobile responsiveness on parse screen (#158)
  frontend/src/components/ChatPanel.test.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/index.css
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

fix: restore smooth scroll animation in chat panel
  frontend/src/components/ChatPanel.test.tsx
  frontend/src/components/ChatPanel.tsx
Due: typecheck, eslint, frontend-tests

fix: restore smooth scroll animation in chat panel (#159)
  frontend/src/components/ChatPanel.test.tsx
  frontend/src/components/ChatPanel.tsx
Due: typecheck, eslint, frontend-tests

feat: implement design system with updated typography, colors, and branding
  AGENTS.md
  DESIGN.md
  frontend/index.html
  frontend/public/logo.svg
  frontend/src/index.css
  frontend/src/pages/marketing/HomePage.tsx
Due: typecheck, eslint, frontend-tests

fix: update social banner SVG to match design system palette and fonts
  assets/social-banner.svg
Due: none

feat: support adaptive thinking with max effort for Anthropic models
  frontend/src/components/settings/ModelsTab.test.tsx
  frontend/src/components/settings/ModelsTab.tsx
  tests/test_llm_service.py
Due: typecheck, eslint, frontend-tests, backend-tests

fix: clean up clipboard mock in tests, remove redundant aria-label
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

feat: mobile collapsible sidebar for navigation tabs
  frontend/src/components/Header.tsx
  frontend/src/components/MobileNav.test.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/index.css
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

refactor: deduplicate nav item builders between Tabs and MobileNav
  frontend/src/components/MobileNav.tsx
  frontend/src/components/Tabs.tsx
Due: typecheck, eslint, frontend-tests

fix: prevent stale closure from reverting rewritten content (#165)
  frontend/src/components/LibraryTab.navigation.test.tsx
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

feat: double default max output tokens to 32k
  backend/app/config.py
Due: backend-tests

feat: migrate LLM calls from acompletion to amessages API with prompt caching (#174)
  backend/app/routers/rewrite.py
  backend/app/schemas.py
  backend/app/services/llm_service.py
  frontend/src/generated/api.d.ts
  pyproject.toml
  tests/test_api.py
  tests/test_llm_endpoints.py
  tests/test_llm_service.py
  uv.lock
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

fix: remove dead saveStatus type and guard handleSave with isDirty
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

feat: add visible New Song button with confirmation dialog (#175) (#179)
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

feat: extract UsageFooter extension for chat token display (#171) (#181)
  frontend/src/components/ChatPanel.tsx
  frontend/src/extensions/index.ts
  frontend/src/extensions/quota.test.tsx
  frontend/src/extensions/quota.tsx
Due: typecheck, eslint, frontend-tests

chore: update GitHub org references from njbrake to Brake-Labs
  .github/workflows/docker.yml
  LICENSE
  README.md
  frontend/src/extensions/routes.tsx
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
  pyproject.toml
  scripts/upload-pr-video.sh
Due: typecheck, eslint, frontend-tests

chore: update GitHub org references from njbrake to Brake-Labs (#182)
  .github/workflows/docker.yml
  LICENSE
  README.md
  frontend/src/extensions/routes.tsx
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
  pyproject.toml
  scripts/upload-pr-video.sh
Due: typecheck, eslint, frontend-tests
