Repository njbrake/porchsongs: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-types, typecheck, eslint, frontend-tests, backend-tests

openapi-types:
  name: openapi types freshness
  language: system
  entry: sh -c 'uv run python scripts/export_openapi.py frontend/openapi.json && cd frontend && npm run generate:api && git diff --exit-code frontend/src/generated/api.d.ts'
  pass_filenames: false

typecheck:
  name: typescript typecheck
  language: system
  entry: sh -c 'cd frontend && npm run typecheck'
  pass_filenames: false

eslint:
  name: eslint
  language: system
  entry: sh -c 'cd frontend && npx eslint src/'
  pass_filenames: false

frontend-tests:
  name: frontend tests
  language: system
  entry: sh -c 'cd frontend && npx vitest run'
  pass_filenames: false
  stages:
  - pre-push

backend-tests:
  name: backend tests
  language: system
  entry: sh -c 'DATABASE_URL="sqlite:///:memory:" uv run pytest -x -q'
  pass_filenames: false
  stages:
  - pre-push

playwright
  .github/workflows/ci.yml
  .gitignore
  backend/app/database.py
  e2e/fixtures/auth-helpers.ts
  e2e/fixtures/mock-data.ts
  e2e/fixtures/mock-sse.ts
  e2e/fixtures/test-helpers.ts
  e2e/oss/library.spec.ts
  e2e/oss/navigation.spec.ts
  e2e/oss/rewrite-flow.spec.ts
  e2e/oss/settings.spec.ts
  e2e/oss/smoke.spec.ts
  e2e/package-lock.json
  e2e/package.json
  e2e/premium/account.spec.ts
  e2e/premium/auth.spec.ts
  e2e/premium/quota.spec.ts
  e2e/scripts/start-server.sh
  e2e/tsconfig.json
  package-lock.json
  package.json
  playwright.config.ts
Due: backend-tests

lint
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.tsx
  frontend/src/pages/marketing/AboutPage.tsx
  frontend/src/pages/marketing/HomePage.tsx
  frontend/src/pages/marketing/HowToArticle.tsx
  frontend/src/pages/marketing/HowToIndex.tsx
  frontend/src/pages/marketing/PricingPage.tsx
  frontend/src/test/test-utils.tsx
Due: typecheck, eslint, frontend-tests

cleanup
  .github/workflows/ci.yml
  e2e/package-lock.json
  e2e/package.json
  frontend/src/data/howto-articles.ts
  frontend/src/layouts/MarketingLayout.test.tsx
  frontend/src/layouts/MarketingLayout.tsx
  frontend/src/pages/marketing/AboutPage.tsx
  frontend/src/pages/marketing/HomePage.test.tsx
  frontend/src/pages/marketing/HomePage.tsx
  frontend/src/pages/marketing/HowToArticle.tsx
  frontend/src/pages/marketing/HowToIndex.tsx
  frontend/src/pages/marketing/PricingPage.tsx
Due: typecheck, eslint, frontend-tests

fix e2e
  e2e/oss/navigation.spec.ts
  frontend/src/components/Tabs.test.tsx
  frontend/src/components/Tabs.tsx
Due: typecheck, eslint, frontend-tests

tabs
  frontend/src/components/Tabs.tsx
Due: typecheck, eslint, frontend-tests

nuke the need profile popup
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

remove "Save As Copy" feature
  backend/app/routers/songs.py
  frontend/src/api.ts
  frontend/src/components/RewriteTab.tsx
  tests/test_api.py
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

Abort in-flight parse on RewriteTab unmount
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

Add test verifying parse abort on RewriteTab unmount
  frontend/src/components/RewriteTab.test.tsx
Due: typecheck, eslint, frontend-tests

Regenerate api.d.ts to remove stale duplicate endpoint
  frontend/src/generated/api.d.ts
Due: typecheck, eslint, frontend-tests

Abort in-flight parse on RewriteTab unmount (#6)
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/generated/api.d.ts
Due: typecheck, eslint, frontend-tests

Add Playwright sandbox tips and symlink CLAUDE.md → AGENTS.md
  AGENTS.md
  CLAUDE.md
  tips/playwright.md
Due: none

Replace magic-number height offset with CSS flex layout
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

Make header and tabs sticky at top of viewport
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

worktree fix
  AGENTS.md
  tips/sandbox.md
Due: none

Replace fragile magic-number height offset with CSS flex layout
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

Add pull request template
  .github/pull_request_template.md
Due: none

Replace fragile magic-number height offset with CSS flex layout (#14)
  .github/pull_request_template.md
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

Make header and tabs sticky so they stay visible on scroll
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

Make header and tabs sticky so they stay visible on scroll (#15)
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

Collapse workshop action buttons into overflow menu on mobile
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

Collapse workshop action buttons into overflow menu on mobile (#16)
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

Show Original in a dialog instead of inline to prevent editor compression
  frontend/src/components/ComparisonView.test.tsx
  frontend/src/components/ComparisonView.tsx
Due: typecheck, eslint, frontend-tests

Show Original in a dialog instead of inline to prevent editor compression (#17)
  frontend/src/components/ComparisonView.test.tsx
  frontend/src/components/ComparisonView.tsx
Due: typecheck, eslint, frontend-tests

Add footer with GitHub repo link to app shell
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

Add footer with GitHub repo link to app shell (#19)
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

Fix chat crash after sending image: preserve multimodal content in history
  backend/app/routers/rewrite.py
  backend/app/routers/songs.py
  backend/app/services/llm_service.py
  tests/test_llm_endpoints.py
Due: openapi-types, backend-tests

feat: add updated_at field to Song model
  alembic/versions/008_add_song_updated_at.py
  backend/app/models.py
  backend/app/schemas.py
  frontend/src/components/LibraryTab.tsx
  frontend/src/generated/api.d.ts
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

Fix chat crash after sending image: preserve multimodal content in history (#20)
  backend/app/routers/rewrite.py
  backend/app/routers/songs.py
  backend/app/services/llm_service.py
  tests/test_llm_endpoints.py
Due: openapi-types, backend-tests

feat: add updated_at field to Song model (#21)
  alembic/versions/008_add_song_updated_at.py
  backend/app/models.py
  backend/app/schemas.py
  frontend/src/components/LibraryTab.tsx
  frontend/src/generated/api.d.ts
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

feat: add ErrorBoundary and 404 page for graceful error handling
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/NotFoundPage.test.tsx
  frontend/src/components/NotFoundPage.tsx
  frontend/src/extensions/index.ts
  frontend/src/extensions/routes.tsx
  frontend/src/main.tsx
Due: typecheck, eslint, frontend-tests

feat: add ErrorBoundary and 404 page for graceful error handling (#22)
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/NotFoundPage.test.tsx
  frontend/src/components/NotFoundPage.tsx
  frontend/src/extensions/index.ts
  frontend/src/extensions/routes.tsx
  frontend/src/main.tsx
Due: typecheck, eslint, frontend-tests

fix: improve login/logout redirect flow for premium users
  frontend/src/components/LoginPage.test.tsx
  frontend/src/components/LoginPage.tsx
  frontend/src/contexts/AuthContext.tsx
Due: typecheck, eslint, frontend-tests

fix: improve login/logout redirect flow for premium users (#25)
  frontend/src/components/LoginPage.test.tsx
  frontend/src/components/LoginPage.tsx
  frontend/src/contexts/AuthContext.tsx
Due: typecheck, eslint, frontend-tests

feat: add favicon.ico and apple-touch-icon for broader browser support
  frontend/index.html
  frontend/public/apple-touch-icon.png
  frontend/public/favicon.ico
Due: none

feat: add favicon.ico and apple-touch-icon for broader browser support (#26)
  frontend/index.html
  frontend/public/apple-touch-icon.png
  frontend/public/favicon.ico
Due: none

feat: remove multi-user auth from OSS — make it auth-free
  AGENTS.md
  backend/app/auth/app_secret.py
  backend/app/auth/base.py
  backend/app/auth/dependencies.py
  backend/app/auth/loader.py
  backend/app/config.py
  backend/app/routers/auth.py
  backend/app/schemas.py
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/LoginPage.test.tsx
  frontend/src/components/LoginPage.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/extensions/index.ts
  frontend/src/extensions/routes.tsx
  frontend/src/generated/api.d.ts
  frontend/src/types.ts
  tests/test_auth.py
  tests/test_rate_limit.py
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

fix: remove premium e2e tests from OSS repo
  e2e/fixtures/auth-helpers.ts
  e2e/premium/account.spec.ts
  e2e/premium/auth.spec.ts
  e2e/premium/quota.spec.ts
  playwright.config.ts
Due: none

fix: delegate tryRestoreSession to extension point for premium override
  frontend/src/api.ts
  frontend/src/extensions/api.ts
  frontend/src/extensions/index.ts
Due: typecheck, eslint, frontend-tests

Path conditions:
  openapi-types: any of: ^backend/app/(schemas\.py|routers/.+\.py|main\.py)$
  typecheck: any of: ^frontend/src/.*\.tsx?$
  eslint: any of: ^frontend/src/.*\.tsx?$
  frontend-tests: any of: ^frontend/src/.*\.tsx?$
  backend-tests: any of: ^(backend|tests)/.*\.py$
