Repository njbrake/porchsongs: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-types, typecheck, eslint, frontend-tests, backend-tests

openapi-types:
  name: openapi types freshness
  language: system
  entry: sh -c 'uv run python scripts/export_openapi.py frontend/openapi.json && cd frontend && npm run generate:api && git diff --exit-code frontend/src/generated/api.d.ts'
  pass_filenames: false

typecheck:
  name: typescript typecheck
  language: system
  entry: sh -c 'cd frontend && npm run typecheck'
  pass_filenames: false

eslint:
  name: eslint
  language: system
  entry: sh -c 'cd frontend && npx eslint src/'
  pass_filenames: false

frontend-tests:
  name: frontend tests
  language: system
  entry: sh -c 'cd frontend && npx vitest run'
  pass_filenames: false
  stages:
  - pre-push

backend-tests:
  name: backend tests
  language: system
  entry: sh -c 'DATABASE_URL="sqlite:///:memory:" uv run pytest -x -q'
  pass_filenames: false
  stages:
  - pre-push

feat: add cascade deletes to SQLAlchemy relationships
  backend/app/models.py
  backend/app/routers/songs.py
Due: openapi-types, backend-tests

feat: add cascade deletes to SQLAlchemy relationships (#70)
  backend/app/models.py
  backend/app/routers/songs.py
Due: openapi-types, backend-tests

fix: sanitize Content-Disposition filename for PDF downloads
  backend/app/routers/songs.py
  tests/test_pdf_service.py
Due: openapi-types, backend-tests

fix: sanitize Content-Disposition filename for PDF downloads (#71)
  backend/app/routers/songs.py
  tests/test_pdf_service.py
Due: openapi-types, backend-tests

feat: add image size validation and noscript fallback
  frontend/index.html
  frontend/src/components/ChatPanel.test.tsx
  frontend/src/components/ChatPanel.tsx
Due: typecheck, eslint, frontend-tests

feat: add image size validation and noscript fallback (#72)
  frontend/index.html
  frontend/src/components/ChatPanel.test.tsx
  frontend/src/components/ChatPanel.tsx
Due: typecheck, eslint, frontend-tests

fix: expand parse thinking box from 240px to 50vh
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

fix: expand parse thinking box from 240px to 50vh (#73)
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

feat: polish Button component with focus rings, active feedback, and new sizes
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
Due: typecheck, eslint, frontend-tests

feat: add focus rings to Input, Textarea, and Select components
  frontend/src/components/RewriteTab.tsx
  frontend/src/components/ui/form-controls.test.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
Due: typecheck, eslint, frontend-tests

feat: polish Button component with focus rings, active feedback, and new sizes (#81)
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
Due: typecheck, eslint, frontend-tests

feat: redesign CardHeader with sentence-case styling and better contrast
  frontend/src/components/LibraryTab.tsx
  frontend/src/components/ui/card.test.tsx
  frontend/src/components/ui/card.tsx
Due: typecheck, eslint, frontend-tests

refactor: replace raw buttons with Button component for consistency
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

feat: add focus rings to Input, Textarea, and Select components (#82)
  frontend/src/components/RewriteTab.tsx
  frontend/src/components/ui/form-controls.test.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
Due: typecheck, eslint, frontend-tests

feat: add entrance animations and improve default width for Dialog
  frontend/src/components/ui/dialog.test.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/index.css
Due: typecheck, eslint, frontend-tests

feat: redesign CardHeader with sentence-case styling and better contrast (#83)
  frontend/src/components/LibraryTab.tsx
  frontend/src/components/ui/card.test.tsx
  frontend/src/components/ui/card.tsx
Due: typecheck, eslint, frontend-tests

feat: improve drag handle with wider hit target and grip dots
  frontend/src/components/ui/resizable-columns.tsx
Due: typecheck, eslint, frontend-tests

refactor: replace raw buttons with Button component for consistency (#84)
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

feat: add dark mode support with toggle in Header
  frontend/src/api.ts
  frontend/src/components/Header.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/hooks/useTheme.test.ts
  frontend/src/hooks/useTheme.ts
  frontend/src/index.css
  frontend/src/test/setup.ts
Due: typecheck, eslint, frontend-tests

feat: add entrance animations and improve default width for Dialog (#85)
  frontend/src/components/ui/dialog.test.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/index.css
Due: typecheck, eslint, frontend-tests

feat: improve drag handle with wider hit target and grip dots (#86)
  frontend/src/components/ui/resizable-columns.tsx
Due: typecheck, eslint, frontend-tests

feat: add dark mode support with toggle in Header (#87)
  frontend/src/api.ts
  frontend/src/components/Header.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/hooks/useTheme.test.ts
  frontend/src/hooks/useTheme.ts
  frontend/src/index.css
  frontend/src/test/setup.ts
Due: typecheck, eslint, frontend-tests

fix: add missing Alembic migration for users.terms_accepted_at
  alembic/versions/009_add_user_terms_accepted_at.py
Due: none

fix: squash Alembic migrations into single initial schema
  alembic/versions/001_initial_schema.py
  alembic/versions/002_add_song_font_size.py
  alembic/versions/003_rename_lyrics_to_content.py
  alembic/versions/004_add_system_prompt_fields_to_profile.py
  alembic/versions/005_drop_profile_name.py
  alembic/versions/006_drop_vestigial_columns.py
  alembic/versions/007_add_platform_key_disabled.py
  alembic/versions/008_add_song_updated_at.py
Due: none

fix: squash Alembic migrations into single initial schema (#89)
  alembic/versions/001_initial_schema.py
  alembic/versions/002_add_song_font_size.py
  alembic/versions/003_rename_lyrics_to_content.py
  alembic/versions/004_add_system_prompt_fields_to_profile.py
  alembic/versions/005_drop_profile_name.py
  alembic/versions/006_drop_vestigial_columns.py
  alembic/versions/007_add_platform_key_disabled.py
  alembic/versions/008_add_song_updated_at.py
Due: none

feat: add 'off' as a supported reasoning effort setting
  frontend/src/components/RewriteTab.tsx
  frontend/src/components/settings/ModelsTab.tsx
  tests/test_llm_service.py
Due: typecheck, eslint, frontend-tests, backend-tests

feat: add 'off' as a supported reasoning effort setting (#91)
  frontend/src/components/RewriteTab.tsx
  frontend/src/components/settings/ModelsTab.tsx
  tests/test_llm_service.py
Due: typecheck, eslint, frontend-tests, backend-tests

feat: remove share feature
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

feat: remove share feature (#93)
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

ci: add migration drift check job
  .github/workflows/ci.yml
Due: none

ci: add migration drift check job (#96)
  .github/workflows/ci.yml
Due: none

feat: visual refresh with Planning Center-inspired clean UI
  frontend/src/components/Header.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/index.css
  frontend/src/layouts/MarketingLayout.tsx
Due: typecheck, eslint, frontend-tests

fix: remove CookieBanner import not yet on this branch
  frontend/src/layouts/MarketingLayout.tsx
Due: typecheck, eslint, frontend-tests

feat: visual refresh with clean UI (#97)
  frontend/src/components/Header.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/index.css
  frontend/src/layouts/MarketingLayout.tsx
Due: typecheck, eslint, frontend-tests

fix: revert premium extension stubs and fix MarketingLayout test
  frontend/src/extensions/api.ts
  frontend/src/extensions/auth.ts
  frontend/src/extensions/index.ts
  frontend/src/extensions/quota.test.tsx
  frontend/src/extensions/quota.tsx
  frontend/src/extensions/routes.tsx
  frontend/src/extensions/settings-a11y.test.tsx
  frontend/src/extensions/settings.tsx
  frontend/src/extensions/types.ts
  frontend/src/layouts/MarketingLayout.test.tsx
Due: typecheck, eslint, frontend-tests

fix: remove premium-only files from OSS repo
  frontend/public/porchsongs-demo.gif
  frontend/public/social-banner.png
  frontend/src/components/CookieBanner.test.tsx
  frontend/src/components/CookieBanner.tsx
  frontend/src/components/LoginPage.test.tsx
  frontend/src/components/LoginPage.tsx
  frontend/src/data/howto-articles.ts
  frontend/src/layouts/MarketingLayout.test.tsx
  frontend/src/pages/marketing/AboutPage.tsx
  frontend/src/pages/marketing/HomePage.test.tsx
  frontend/src/pages/marketing/HomePage.tsx
  frontend/src/pages/marketing/HowToArticle.test.tsx
  frontend/src/pages/marketing/HowToArticle.tsx
  frontend/src/pages/marketing/HowToIndex.tsx
  frontend/src/pages/marketing/PricingPage.test.tsx
  frontend/src/pages/marketing/PricingPage.tsx
  frontend/src/pages/marketing/PrivacyPage.tsx
  frontend/src/pages/marketing/TermsPage.tsx
Due: typecheck, eslint, frontend-tests

fix: update e2e tests to use aria-label selectors for title/artist
  e2e/oss/library.spec.ts
  e2e/oss/rewrite-flow.spec.ts
  e2e/oss/song-lifecycle.spec.ts
Due: none

fix: use .first() for aria-label selectors in e2e tests
  e2e/oss/library.spec.ts
  e2e/oss/rewrite-flow.spec.ts
  e2e/oss/song-lifecycle.spec.ts
Due: none

feat: persist reasoning/model to DB and UI refresh (#100)
  alembic/versions/001_initial_schema.py
  backend/app/models.py
  backend/app/routers/rewrite.py
  backend/app/routers/songs.py
  backend/app/schemas.py
  e2e/oss/library.spec.ts
  e2e/oss/rewrite-flow.spec.ts
  e2e/oss/song-lifecycle.spec.ts
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/ComparisonView.test.tsx
  frontend/src/components/ComparisonView.tsx
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/components/ui/resizable-columns.tsx
  frontend/src/generated/api.d.ts
  frontend/src/layouts/AppShell.tsx
  frontend/src/lib/utils.test.ts
  frontend/src/lib/utils.ts
  package-lock.json
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

Path conditions:
  openapi-types: any of: ^backend/app/(schemas\.py|routers/.+\.py|main\.py)$
  typecheck: any of: ^frontend/src/.*\.tsx?$
  eslint: any of: ^frontend/src/.*\.tsx?$
  frontend-tests: any of: ^frontend/src/.*\.tsx?$
  backend-tests: any of: ^(backend|tests)/.*\.py$
