Repository njbrake/porchsongs: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-types, typecheck, eslint, frontend-tests, backend-tests

openapi-types:
  name: openapi types freshness
  language: system
  entry: sh -c 'uv run python scripts/export_openapi.py frontend/openapi.json && cd frontend && npm run generate:api && git diff --exit-code frontend/src/generated/api.d.ts'
  pass_filenames: false

typecheck:
  name: typescript typecheck
  language: system
  entry: sh -c 'cd frontend && npm run typecheck'
  pass_filenames: false

eslint:
  name: eslint
  language: system
  entry: sh -c 'cd frontend && npx eslint src/'
  pass_filenames: false

frontend-tests:
  name: frontend tests
  language: system
  entry: sh -c 'cd frontend && npx vitest run'
  pass_filenames: false
  stages:
  - pre-push

backend-tests:
  name: backend tests
  language: system
  entry: sh -c 'DATABASE_URL="sqlite:///:memory:" uv run pytest -x -q'
  pass_filenames: false
  stages:
  - pre-push

fix: keep chat input focused after sending a message
  frontend/src/components/ChatPanel.test.tsx
  frontend/src/components/ChatPanel.tsx
Due: typecheck, eslint, frontend-tests

fix: convert reasoning_effort to thinking config for amessages API
  backend/app/services/llm_service.py
  tests/test_llm_service.py
Due: backend-tests

fix: convert reasoning_effort to typed thinking config for amessages (#187)
  backend/app/services/llm_service.py
  tests/test_api.py
  tests/test_llm_endpoints.py
  tests/test_llm_service.py
  tests/test_pdf_service.py
Due: backend-tests

fix: use attribute access on Pydantic stream events, not dict access
  backend/app/services/llm_service.py
  tests/test_llm_service.py
Due: backend-tests

fix: use attribute access on Pydantic stream events, not dict access (#188)
  backend/app/services/llm_service.py
  tests/test_llm_service.py
Due: backend-tests

Fix chat edits not saving: enable save button after chat updates
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

Fix chat edits not saving: enable save button after chat updates (#190)
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

fix: improve rewrite page UX with step indicators and clearer copy (#191)
  e2e/oss/library.spec.ts
  e2e/oss/rewrite-flow.spec.ts
  e2e/oss/song-lifecycle.spec.ts
  frontend/src/components/ChatPanel.test.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

style(design): improve column toggle accessibility
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

style(design): constrain header and tabs to max-width with full-bleed backgrounds
  .gitignore
  frontend/src/components/Header.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

style(design): hide checkboxes until hover and fix button hierarchy
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

feat: add layout width toggle for ultrawide monitors
  frontend/src/api.ts
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

style: align implementation with DESIGN.md typography spec
  DESIGN.md
  frontend/index.html
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/LibraryTab.tsx
  frontend/src/components/NotFoundPage.tsx
  frontend/src/components/settings/SystemPromptsTab.tsx
  frontend/src/index.css
Due: typecheck, eslint, frontend-tests

fix: replace single-line chat input with auto-growing textarea (#199)
  frontend/src/components/ChatPanel.test.tsx
  frontend/src/components/ChatPanel.tsx
Due: typecheck, eslint, frontend-tests

feat: make admin page a top-level tab instead of settings subtab
  frontend/src/App.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/components/Tabs.test.tsx
  frontend/src/components/Tabs.tsx
  frontend/src/extensions/index.ts
  frontend/src/extensions/routes.tsx
Due: typecheck, eslint, frontend-tests

fix: replace broken save button with debounced autosave
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/lib/api-client.test.ts
  frontend/src/lib/api-client.ts
Due: typecheck, eslint, frontend-tests

feat: allow parse and chat to continue when leaving the rewrite tab
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/LibraryTab.navigation.test.tsx
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

feat: add Import from Photo to extract song lyrics via LLM vision (#209)
  backend/app/routers/rewrite.py
  backend/app/schemas.py
  backend/app/services/llm_service.py
  frontend/src/api.ts
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/generated/api.d.ts
  tests/test_llm_endpoints.py
  tests/test_llm_service.py
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

fix: resolve TS errors in PWA test for CI
  frontend/src/test/pwa-manifest.test.ts
  frontend/src/vite-env.d.ts
Due: typecheck, eslint, frontend-tests

feat: complete PWA support with offline page, icons, and standalone auth
  frontend/public/icon-192.png
  frontend/public/icon-512.png
  frontend/public/manifest.json
  frontend/public/offline.html
  frontend/public/sw.js
  frontend/src/components/LoginPage.tsx
  frontend/src/hooks/useIsStandalone.ts
  frontend/src/hooks/useTheme.ts
  frontend/src/main.tsx
  frontend/src/test/pwa-manifest.test.ts
  frontend/src/vite-env.d.ts
Due: typecheck, eslint, frontend-tests

fix: recover gracefully when app is closed mid-generation (#170)
  backend/app/routers/rewrite.py
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/LibraryTab.navigation.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/hooks/useVisibilityRecovery.test.ts
  frontend/src/hooks/useVisibilityRecovery.ts
  frontend/src/layouts/AppShell.tsx
  tests/test_llm_endpoints.py
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

fix: recover gracefully when app is closed mid-generation (#211)
  backend/app/routers/rewrite.py
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/LibraryTab.navigation.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/hooks/useVisibilityRecovery.test.ts
  frontend/src/hooks/useVisibilityRecovery.ts
  frontend/src/layouts/AppShell.tsx
  frontend/src/lib/chat-utils.ts
  tests/test_llm_endpoints.py
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

feat: add file attachments for song import and chat (#154)
  backend/app/routers/rewrite.py
  backend/app/schemas.py
  frontend/src/api.ts
  frontend/src/components/ChatPanel.test.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/generated/api.d.ts
  frontend/src/types.ts
  pyproject.toml
  tests/test_llm_endpoints.py
  uv.lock
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

fix: clear pending queue when onBeforeSend (song creation) fails
  frontend/src/components/ChatPanel.test.tsx
  frontend/src/components/ChatPanel.tsx
Due: typecheck, eslint, frontend-tests

fix: prevent DetachedInstanceError in SSE streaming endpoints (#217)
  backend/app/routers/rewrite.py
  backend/app/services/llm_service.py
  tests/test_llm_endpoints.py
  tests/test_llm_service.py
Due: openapi-types, backend-tests

fix: prevent resource leak on rapid open/close and resume AudioContext on mobile
  frontend/src/hooks/useTuner.ts
Due: typecheck, eslint, frontend-tests

feat: chromatic tuner dialog with pitch detection (#220)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header.tsx
  frontend/src/components/TunerDialog.test.tsx
  frontend/src/components/TunerDialog.tsx
  frontend/src/components/TunerGauge.test.tsx
  frontend/src/components/TunerGauge.tsx
  frontend/src/hooks/useTuner.test.ts
  frontend/src/hooks/useTuner.ts
  frontend/src/index.css
Due: typecheck, eslint, frontend-tests

fix: add comments for multimodal skip, use explicit None check for fallback
  backend/app/routers/rewrite.py
  backend/app/services/llm_service.py
Due: openapi-types, backend-tests

fix: address review findings for save-after-import
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

feat: multi-column song view with auto-selection based on screen width
  frontend/src/components/LibraryTab.test.ts
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

feat: multi-column song view with auto-selection based on screen width (#228)
  frontend/src/components/LibraryTab.test.ts
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

fix: horizontal grid height measurement and column width
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

fix: use original responsive column widths and callback ref
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

feat: vertical/horizontal scroll toggle for library (#230)
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

chore: add seed-library.sh for testing library layouts
  scripts/seed-library.sh
Due: none

refactor: simplify library song view and fix horizontal layout (#231)
  e2e/oss/library.spec.ts
  e2e/oss/song-lifecycle.spec.ts
  frontend/src/components/LibraryTab.navigation.test.tsx
  frontend/src/components/LibraryTab.tsx
  scripts/seed-library.sh
Due: typecheck, eslint, frontend-tests

feat: add font size slider and scroll direction toggle to performance view
  frontend/src/api.ts
  frontend/src/components/LibraryTab.tsx
  frontend/src/hooks/useAutoFontSize.ts
Due: typecheck, eslint, frontend-tests

fix: show font slider and scroll toggle on all screen sizes
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

fix: lower font size slider minimum from 10px to 6px
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

fix: mobile header/footer layout and performance view background
  frontend/src/components/Header.test.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/LibraryTab.navigation.test.tsx
  frontend/src/components/LibraryTab.tsx
  frontend/src/components/MobileNav.test.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/extensions/settings-a11y.test.tsx
  frontend/src/extensions/settings.test.tsx
  frontend/src/layouts/AppShell.tsx
  frontend/src/pages/marketing/HomePage.test.tsx
Due: typecheck, eslint, frontend-tests

Path conditions:
  openapi-types: any of: ^backend/app/(schemas\.py|routers/.+\.py|main\.py)$
  typecheck: any of: ^frontend/src/.*\.tsx?$
  eslint: any of: ^frontend/src/.*\.tsx?$
  frontend-tests: any of: ^frontend/src/.*\.tsx?$
  backend-tests: any of: ^(backend|tests)/.*\.py$
