Repository njbrake/porchsongs: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-types, typecheck, eslint, frontend-tests, backend-tests

openapi-types:
  name: openapi types freshness
  language: system
  entry: sh -c 'uv run python scripts/export_openapi.py frontend/openapi.json && cd frontend && npm run generate:api && git diff --exit-code frontend/src/generated/api.d.ts'
  pass_filenames: false

typecheck:
  name: typescript typecheck
  language: system
  entry: sh -c 'cd frontend && npm run typecheck'
  pass_filenames: false

eslint:
  name: eslint
  language: system
  entry: sh -c 'cd frontend && npx eslint src/'
  pass_filenames: false

frontend-tests:
  name: frontend tests
  language: system
  entry: sh -c 'cd frontend && npx vitest run'
  pass_filenames: false
  stages:
  - pre-push

backend-tests:
  name: backend tests
  language: system
  entry: sh -c 'DATABASE_URL="sqlite:///:memory:" uv run pytest -x -q'
  pass_filenames: false
  stages:
  - pre-push

docs: extract definition of done to tips file + add Playwright video PR requirement
  AGENTS.md
  tips/definition-of-done.md
Due: none

docs: extract definition of done to tips file + add Playwright video PR requirement (#101)
  AGENTS.md
  tips/definition-of-done.md
Due: none

fix: use 'none' instead of 'off' for reasoning effort
  frontend/src/components/RewriteTab.tsx
  frontend/src/components/settings/ModelsTab.tsx
Due: typecheck, eslint, frontend-tests

fix: use 'none' instead of 'off' for reasoning effort (#103)
  frontend/src/components/RewriteTab.tsx
  frontend/src/components/settings/ModelsTab.tsx
Due: typecheck, eslint, frontend-tests

fix: improve assistant bubble contrast in chat panel
  frontend/src/components/ChatPanel.tsx
Due: typecheck, eslint, frontend-tests

fix: improve assistant bubble contrast in chat panel (#104)
  frontend/src/components/ChatPanel.tsx
Due: typecheck, eslint, frontend-tests

docs: update README with direct pointer to any-llm.ai
  README.md
Due: none

feat: add social media links to footer
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
  frontend/src/layouts/MarketingLayout.tsx
Due: typecheck, eslint, frontend-tests

fix: Library tab now navigates back to library list from song view
  frontend/src/components/LibraryTab.navigation.test.tsx
  frontend/src/components/LibraryTab.tsx
  frontend/src/test/setup.ts
Due: typecheck, eslint, frontend-tests

fix: clicking folder in library now filters instead of showing dropdown
  frontend/src/components/LibraryTab.folder.test.tsx
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

fix: guard DropdownMenu onOpenChange to only open on context menu
  frontend/src/components/LibraryTab.tsx
Due: typecheck, eslint, frontend-tests

feat: add UUID to songs and use in URL routing
  alembic/versions/002_add_song_uuid.py
  backend/app/auth/scoping.py
  backend/app/models.py
  backend/app/routers/songs.py
  backend/app/schemas.py
  frontend/src/api.ts
  frontend/src/components/LibraryTab.folder.test.tsx
  frontend/src/components/LibraryTab.navigation.test.tsx
  frontend/src/components/LibraryTab.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/generated/api.d.ts
  frontend/src/layouts/AppShell.tsx
  tests/test_song_uuid.py
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

chore: add PR video upload script and update definition of done
  scripts/upload-pr-video.sh
  tips/definition-of-done.md
Due: none

chore: add MIT license
  LICENSE
Due: none

fix: consume OAuth refresh token from URL hash fragment
  frontend/src/lib/api-client.ts
Due: typecheck, eslint, frontend-tests

fix: consume OAuth refresh token from URL hash fragment (#114)
  frontend/src/lib/api-client.ts
Due: typecheck, eslint, frontend-tests

Fix rewrite page card not expanding to fill available space
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

Fix rewrite page card not expanding to fill available space (#116)
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
Due: typecheck, eslint, frontend-tests

Remove unused MarketingLayout from OSS repo
  frontend/src/layouts/MarketingLayout.tsx
Due: typecheck, eslint, frontend-tests

Remove unused MarketingLayout from OSS repo (#120)
  frontend/src/layouts/MarketingLayout.tsx
Due: typecheck, eslint, frontend-tests

Move "Upgrade your plan" links into the extension system
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/extensions/quota.tsx
Due: typecheck, eslint, frontend-tests

Move "Upgrade your plan" links into the extension system (#121)
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/extensions/quota.tsx
Due: typecheck, eslint, frontend-tests

Delete Screenshot 2026-02-18 at 7.10.32 PM.png
  Screenshot 2026-02-18 at 7.10.32 PM.png
Due: none

feat: add token usage data to parse endpoints
  backend/app/routers/rewrite.py
  backend/app/schemas.py
  backend/app/services/llm_service.py
  frontend/src/generated/api.d.ts
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

feat: add token usage data to parse endpoints (#122)
  backend/app/routers/rewrite.py
  backend/app/schemas.py
  backend/app/services/llm_service.py
  frontend/src/generated/api.d.ts
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

feat: copyright risk mitigations — remove copy button, stub legal pages
  frontend/src/components/RewriteTab.tsx
  frontend/src/pages/marketing/PrivacyPage.tsx
  frontend/src/pages/marketing/TermsPage.tsx
Due: typecheck, eslint, frontend-tests

feat: copyright risk mitigations — remove copy button, stub legal pages (#124)
  frontend/src/components/RewriteTab.tsx
  frontend/src/pages/marketing/PrivacyPage.tsx
  frontend/src/pages/marketing/TermsPage.tsx
Due: typecheck, eslint, frontend-tests

feat: add sample chord chart so new users can try the app immediately
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/data/sample-songs.ts
Due: typecheck, eslint, frontend-tests

feat: add sample chord chart so new users can try the app immediately (#125)
  frontend/src/components/RewriteTab.test.tsx
  frontend/src/components/RewriteTab.tsx
  frontend/src/data/sample-songs.ts
Due: typecheck, eslint, frontend-tests

feat: add feature request link to app footer
  frontend/src/extensions/index.ts
  frontend/src/extensions/routes.tsx
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

feat: add feature request link to app footer (#126)
  frontend/src/extensions/index.ts
  frontend/src/extensions/routes.tsx
  frontend/src/layouts/AppShell.test.tsx
  frontend/src/layouts/AppShell.tsx
Due: typecheck, eslint, frontend-tests

fix: make feature request test URL-agnostic for premium overlay
  frontend/src/layouts/AppShell.test.tsx
Due: typecheck, eslint, frontend-tests

fix: make feature request test URL-agnostic for premium overlay (#127)
  frontend/src/layouts/AppShell.test.tsx
Due: typecheck, eslint, frontend-tests

fix: add identity and guardrails to LLM system prompts
  backend/app/services/llm_service.py
  tests/test_llm_endpoints.py
  tests/test_llm_service.py
Due: backend-tests

fix: add identity and guardrails to LLM system prompts (#129)
  backend/app/services/llm_service.py
  tests/test_llm_endpoints.py
  tests/test_llm_service.py
Due: backend-tests

fix: add max_length=2000 to ParseRequest.instruction field
  backend/app/schemas.py
Due: openapi-types, backend-tests

fix: always send max_tokens to prevent extended thinking conflict
  backend/app/config.py
  backend/app/services/llm_service.py
Due: backend-tests

fix: always send max_tokens to prevent extended thinking conflict (#131)
  backend/app/config.py
  backend/app/services/llm_service.py
Due: backend-tests

feat: add api_key pass-through and isAdmin context for admin control panel
  backend/app/routers/rewrite.py
  backend/app/schemas.py
  backend/app/services/llm_service.py
  frontend/src/components/LibraryTab.navigation.test.tsx
  frontend/src/components/SettingsPage.tsx
  frontend/src/extensions/settings.tsx
  frontend/src/generated/api.d.ts
  frontend/src/layouts/AppShell.tsx
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

feat: add api_key pass-through and isAdmin context for admin control panel (#132)
  backend/app/routers/rewrite.py
  backend/app/schemas.py
  backend/app/services/llm_service.py
  frontend/src/components/LibraryTab.navigation.test.tsx
  frontend/src/components/SettingsPage.tsx
  frontend/src/extensions/settings.tsx
  frontend/src/generated/api.d.ts
  frontend/src/layouts/AppShell.tsx
Due: openapi-types, typecheck, eslint, frontend-tests, backend-tests

Path conditions:
  openapi-types: any of: ^backend/app/(schemas\.py|routers/.+\.py|main\.py)$
  typecheck: any of: ^frontend/src/.*\.tsx?$
  eslint: any of: ^frontend/src/.*\.tsx?$
  frontend-tests: any of: ^frontend/src/.*\.tsx?$
  backend-tests: any of: ^(backend|tests)/.*\.py$
